@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
}

.active {
    @apply bg-customHoverColor text-white
}

.form-control {
    @apply flex flex-col gap-1 w-full
}

.form-control>label {
    @apply ml-2 font-light
}

.form-control>span {
    @apply text-red-500 ml-2 text-sm
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    @apply w-full h-[50px] bg-customHoverColor border-none rounded-md text-base text-white font-normal px-3 py-2
}

textarea {
    @apply h-36 resize-none
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
textarea::placeholder {
    @apply text-customTextColor
}

input[type=text],
input[type=email],
input[type=password],
textarea:focus {
    @apply outline-none
}

input[type=file]::file-selector-button {
    @apply bg-customHoverColor border-none h-[50px] px-5 rounded-md text-white
}